@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.hide {
  display: none !important;
}

// Navbar styles
.navbar {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: fixed;

  .header-logo {
    width: 4rem;
  }

  ul {
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-evenly;

    a {
      color: #fff;
      font-size: 1.25rem;
      text-decoration: none;

      &:hover {
        font-weight: bold;
      }
    }
  }
}

main {
  padding: 6rem 2rem 2rem 2rem;
}

// Characters section styles
.characters-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding-top: 2rem;

  // Character card styles
  .character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;
    padding: 2rem;
    gap: 1rem;

    img {
      width: 15rem;
      border-radius: 0.25rem;
    }

    .card-info {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      font-size: 1.1rem;
      font-weight: bold;

      .fa-heart {
        cursor: pointer;
      }
    }

    .button {
      padding: 0.75rem;
      width: 80%;
      color: #000;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      border: 2px solid #000;
      border-radius: 0.25rem;
      transition: background-color 0.15s ease-in-out;

      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  font-size: 1rem;
  padding: 1.5rem;
  width: 100%;
  text-align: center;
  background-color: #000;
  color: #fff;

  .dev {
    color: #f00;
  }
}
